[submodule "FastLZ"]
	path = FastLZ
	url = git@github.com:ka5p3rr/FastLZ.git
[submodule "snappy-c"]
	path = snappy-c
	url = git@github.com:ka5p3rr/snappy-c.git
[submodule "zip"]
	path = zip
	url = git@github.com:kuba--/zip.git
[submodule "zlib"]
	path = zlib
	url = git@github.com:madler/zlib.git
[submodule "QuickLZ"]
	path = QuickLZ
	url = git@github.com:ka5p3rr/QuickLZ.git
[submodule "ImageMagick"]
	path = ImageMagick
	url = git@github.com:ka5p3rr/ImageMagick.git
[submodule "liblzf"]
	path = liblzf
	url = git@github.com:ka5p3rr/liblzf.git
[submodule "lzbench"]
	path = lzbench
	url = git@github.com:ka5p3rr/lzbench.git
[submodule "minilzo"]
	path = minilzo
	url = git@github.com:yuhaoth/minilzo.git
[submodule "miniz"]
	path = miniz
	url = git@github.com:richgel999/miniz.git
